*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}
body{
    background: #1E5959;
}
a{
    color: #3B8C6E;
}
.link-wrap div p{
    font-weight: 600;
}
li a img {
    width: 2rem;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 30px;
}
.principale{
    display: flex;
    justify-content: right;
}
.link-wrap{
    display: flex;
    align-items: center;
}
@media only screen and (max-width:700px){
    li a .link-wrap div {
        display: none;
        position: fixed;
    } 
}
/* .hero{
    width: 100%;
    height: 71px;
    /* min-height: 100vh; 
    background-color:lime;
    color:bisque;
}*/
.user-pic{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}
nav{
    background: #89D99D ;
    width: 100%;
    /* min-width: 456px; */
    padding: 10px 10%;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
nav ul{
    width: 100%;
    text-align: right;
}
nav ul li {
    display: inline-block;
    margin: 10px 20px;
}
.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    border-radius: 25px;
}
.sub-menu-wrap.open-menu{
    max-height: 400px;
}
.sub-menu-wrap.hide-menu{
    max-height: 0px;
}
.sub-menu{
    background-color: #89D99D;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
}
.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #1E5959;
    margin: 15px 0 10px;
}
.sub-menu-links{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 12px;
}
.sub-menu-links p{
    width: 100%;
}
.sub-menu-links span {
    font-size: 22px;
    transform: 0.5s;
}
.sub-menu-links:hover span{
    transform: translateX(5px);
}
.sub-menu-links:hover p{
    font-weight: 600;
}
.containerr{
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    padding: 100px 150px 10px 300px;

}
.pre{
    grid-row: 1 / 3;
    grid-column: 1 / 5;
    font-size: 1.2em;
    background-color:#184646 ;
   /* background: rgba(0,0,0,0.3);*/
    border-radius: 10px;
   /* box-shadow: 7px -1px 55px 21px #184646;*/
}
.pre img{
    float: left;
    width: 190px;
    height: 200px;
    border-radius: 10px 0  0 10px;
    margin-right: 10px 
}
.pre p{
   margin-top: 40px;
   color:#fff;
}
.deux{
    grid-row: 4/ 6;
    grid-column: 1/ 5;
    font-size: 1.2em;
    border-radius: 10px;
    background-color:#184646 ;
    /*box-shadow: 7px -1px 55px 21px #184646;*/
}
.deux img{
    float: left;
    width: 190px;
    height: 200px;
    border-radius: 10px 0  0 10px;
    margin-right: 10px 
}
.deux p{
    margin-top: 20px;
    color:#fff;
 }
 .trois{
    grid-row: 1/ 6;
    grid-column: 6/ 10;
    font-size: 1.2em;
    border-radius: 10px;
   /* box-shadow: 7px -1px 55px 21px #184646;*/
   background-color:#184646 ;

}
.trois img{
    float: left;
    width: 400px;
    height: 250px;
    border-radius: 10px 10px  0 0;
   margin-bottom: 30px;
}
.trois p{
 margin-left: 20px;
    color:#fff;
 }

 .milieu{
    background: url(images/images.png);
    width: 100%;
    height: 290px;
    margin-top: -250px;   
 }
 .searchbar{
    box-shadow: 7px -1px 55px 21px #184646;
    background-color: #89D99D;
    color: #fff;
    width: 50%;
    margin: 70px auto;
    border-radius: 50px;
}
.searchbar form{
    display: flex; 
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 10px;
    justify-content: space-evenly;
    
}
.searchbar form input{
    display: block;
    border: 0;
    color: #fff;
    outline: none;
    background: transparent;
}
.searchbar form button{
    background:  #1E5959;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;
}
.searchbar form button:hover{
    background:  #89D99D;
}
.searchbar form button img{
    width: 15px;
    margin-top: 7px;
}

.searchbar form label{
    font-weight: 600;
}
.footer{
    padding: 100px;
}
